body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainBg {
  background: #f4f6f6;
}

* {
  font-family: "Poppins", sans-serif !important;
}

.sidebar__main__heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.headingColor {
  color: #4d6b8c;
}

.bg--active {
  background: #256d85;
}

.button--main--color {
  color: #4d6b8c;
}

.white-color {
  color: white;
}

.danger--button {
  background-color: rgba(255, 0, 0, 0.03);
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.dashboard--heading {
  color: #002b5b;
  font-size: 20px;
  font-weight: 600;
}

.dashboard--subheading {
  color: #4d6b8c;
}

.dashboard--sidehead {
  color: #002b5b;
}

.dashboard--sidepara {
  color: #4d6b8c;
}

.button--image {
  max-width: 20px;
}

.group--block--input {
  background: #00000033;
  padding: 0.45rem;
  width: 100%;
}

.icon {
  width: 22px;
  height: 22px;
}

.card {
  background-color: #256d8524;
  min-width: 210px;
}

.card__para {
  color: #002b5b;
  font-size: 12px;
}

.card__heading {
  color: #002b5b;
  font-size: 14px;
  font-weight: bold;
}

.container {
  position: relative;
}

.container::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background-color: #649F91;
}


.open{
  background-color: #0000009d; /* Set the background color to dark */
}

.custom__modal {
  margin: 0 auto;
}











.dummy{
  background-color: cyan;
  display: flex;
  flex-direction: column;
}





